
body {
	background-color: #abe1dd;
	background-image: url(../images/black-thread.png);
	

}

h1 {font-size: 25px;}

#title {
	box-sizing: border-box;
	color: white;
	background-color: #c97028;
	margin: 10px;
	widows: 200px;
	padding-top: 15px;
	padding-left: 10px;
	width: 210px;
	
}

#instructions {
	box-sizing: border-box;
	font-weight: bold;
	padding: 10px;
	color: #4caa5a;
	background-color: #fce6cd;
	width: 510px;
	margin: 10px;
}

#randomContainer {
	background-color: black;
	box-sizing: border-box;
	height: 120px;
	width: 500px;
}

#random {
	font-size: 25px;
	box-sizing: border-box;
	padding: 10px;
	color: purple;
	background-color: #81d4a9;
	margin: 10px;
	width: 225px;
	height: 100px;
}

#winLose {
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	background-color: #4afdfd;
	width: 75px;
	height: 100px;

}

#crystals {
	margin: 5px;
	height: 120px;
	width: 500px;

}

button {
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 5px;
	float: left;
	background-color: white;
	border-style: none;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#red {}
#blue {}
#yellow {}
#green {}

#guessHeader {
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	color: white;
	background-color: #2ca294;
	width: 250px;
	height: 30px;
}

#guess {
	font-size: 25px;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	color: white;
	background-color: #2ca294;
	width: 250px;
	height: 100px;

}

